.sscontainer{
    margin: 10px 50px;
    padding: 20px;
    display: flex;
    min-height: 600px;
}


.column {
    flex: 50%;
    padding: 10px;
    background-color: rgba(251, 250, 250, 0.833);
    margin:10px;
    border-radius: 5px;
}

FormControl {
    background-color: red;
}