.navuserProfile {
    display: flex;
    /* color: white;         */
    justify-content: center;
    align-items: center;
}

#userp-icon {
    font-size: 2rem;
}

#userdisplay {
    font-size: 0.9rem;
    margin: auto;
    margin-right: 20px;
    margin-left: 20px;
}

/* .usericon:hover {
    background-color: #d4d4d296;
    transition: box-shadow 0.5s;
    color: black;
} */
